[Desktop Entry]
Type=Application
Name=VintageStory Client
Exec=/usr/bin/vintagestory -i %u
StartupNotify=False
MimeType=x-scheme-handler/vintagestorymodinstall;
