[Desktop Entry]
Type=Application
Name=VintageStory 1-click Mod Installer
Exec=/usr/bin/vs1clickmodinstaller %u
StartupNotify=False
MimeType=x-scheme-handler/vintagestorymodinstall;
